<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Strava Segment Hunter is a tool built to provide a platform for some competition surrounding Strava segments. Check in Weekly to see the segment we
  have selected for the day.">
  <meta name="author" content="Jamie Gregg">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
  <link rel="apple-touch-icon" sizes="57x57" href="img/fav-icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/fav-icon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/fav-icon//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/fav-icon//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/fav-icon//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/fav-icon//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/fav-icon//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/fav-icon//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/fav-icon//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/fav-icon//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/fav-icon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/fav-icon//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/fav-icon//favicon-16x16.png">
  <link rel="manifest" href="img/fav-icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>Strava Segment Hunter</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165412592-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-165412592-1');
  </script>

</head>

<body onload="openPage()" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Segment Hunter</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#today-segment">Segment</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#point-leaderboard">Leaderboards</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#help-section">Help</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="FAQ">FAQs</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="adminDashboard">Sign In / Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="img/portfolio/icon.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Strava Segment Hunter</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">
        Strava Segment Hunter is a tool built to provide a platform for some competition surrounding Strava segments. Check in weekly to see the segment we have selected for the week. For more information check out the guides below.</p>
    </div>

    <div class="divider-custom">
      <p class="lead text-white">Select your club from the drop down to see this weeks segment and leaderboards below. <br><a class='text-white' href="signup"><u>Register your club here</u></a> 
      </p>
    </div>

    <div class="container">
      <form method="POST" class="filterTable">
        <div class="form-row">
          <div class="col">
            <select class="form-control" id="club" name="clubs">
              <%for(let i = 0; i < clubInfo.length; i++){ %>
              <option value="<%- clubInfo[i][1] -%>" <%if(clubInfo[i][2] == clubName) {%> selected
                <%}%> ><%- clubInfo[i][2] -%></option> <%} %> </select> </div> <button type="submit"
                class="btn btn-light ">Select Club </button>
          </div>
      </form>
    </div>

  
  </header>

  <!-- Todays Segment Section -->

  <section class="page-section portfolio" id="today-segment">
    <div class="container">

      <!-- Todays Segement Section Heading -->
      <h2 class="page-section-heading segment-heading text-center text-uppercase text-secondary mb-0"><%- clubName -%> Weekly Segment</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div><br>
      </div>

      <!-- Todays Segment Section Content -->
      <div class="centre">
        <div class="text-center">
          <h1 class="seg-name text-secondary text-uppercase"><%-segmentInfo.name-%></h1>
          <p class="seg-distance lead" ><strong>Distance:</strong> <%-segmentInfo.distance-%></p>
          <p class="seg-grade lead" ><b>Average Grade:</b> <%-segmentInfo.average_grade-%>%</p>
          <p class="seg-efforts lead" ><b>Number of Attempts:</b> <%-segmentInfo.efforts-%></p>
          <a class="seg-link" href=<%-segmentInfo.link-%>>
            <p class="lead"><u>Click here to view on Strava</u></p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Results Section -->
  <section class="page-section bg-primary text-white mb-0" id="today-leaderboard">
    <div class="container">

      <!-- Results Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white" id="daily-leaderboard-heading"><%- clubName -%> Weekly Leaderboard</h2>

      <!-- Results Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <form method="POST" class="filterTable">
        <div class="form-row">
          <div class="col">
            <select class="form-control" id="masters" name="masters">
                  <%if(masters == true){%>
                    <option value="false">Everyone</option>
                    <option value="true" selected>Masters (45+)</option>
                  <%} else {%>
                    <option value="false" selected>Everyone</option>
                    <option value="true">Masters (45+)</option>
                <%} %>
            </select>
          </div>

          <div class="col">
            <select class="form-control" id="gender" name="gender">
                  <%if(gender == 'female'){%>
                    <option value="">All</option>
                    <option value="M">Male</option>
                    <option value="F" selected>Female</option>
                  <%} else if (gender == 'male') {%>
                    <option value="">All</option>
                    <option value="M" selected>Male</option>
                    <option value="F">Female</option>
                <%} else { %>
                    <option value="" selected>All</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                <% } %>
            </select>
          </div>

          <div class="col">
            <button type="submit" class="btn btn-light ">Submit</button>
          </div>
        </div>
      </form>

      <br>
        <p id="#clubLinkTag"><a class="text-white" id="clubLink" href="https://www.strava.com/clubs/<%- clubId -%>">Not
            appearing in your club leaderboard? Make sure to join the club by <u>clicking here.</u></a></p>
        <p ><a class ="text-white" href="#privacy">Still not appearing in your clubs leaderboard...  <u>Look here.</u></a></p>

        <!-- Image loader -->
        <div id='loader' style='display: none;'>
          <img src='img/portfolio/ajax-loader.gif' width='32px' height='32px'>
        </div>
        <!-- Image loader -->
      <br>



      <!-- Results Section Content -->
      <table class="table table-hover" id="daily-leaderboard-table">
        <thead>
          <tr class="text-white">
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < data.length; i++) { %>
          <tr class="text-white">
            <th><%- data[i][2] %></th>
            <td><%- data[i][0] %></td>
            <td><%- data[i][1] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <p><a class="text-white" href="/signUp"><u>Add your club here!</u></a></p>
    </div>
  </section>

  <!-- Points Section -->
  <section class="page-section" id="point-leaderboard">
    <div class="container">

      <!-- Points Section Heading -->
      <h2 class="page-section-heading text-secondary text-center text-uppercase" id="points-leaderboard-heading"><%- clubName -%> Points Leaderboard</h2>

      <!-- Points Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Points Section Content -->
      <table class="table table-hover" id="points-leaderboard-table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <% var lastPoints = -1; %>
          <% var rank = 0; %>
          <% for(var i=0; i < db.length; i++) { %>
          <tr>
            <td><% if(db[i].points != lastPoints) {  %>
                      <% rank++ %>
                      <%-rank %>
                      <% lastPoints = db[i].points %>
                <%} else { %>
                      <%- rank %>
                <%}%></td>
            <td><%- db[i].name %></td>
            <td><%- db[i].points %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Todays Segment Section -->
  <section class="page-section bg-primary text-white mb-0" id="upcoming-segments">
    <div class="container">

      <!-- Todays Segement Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase mb-0">Upcoming Segments</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Todays Segment Section Content -->
      <div class="divider-custom">
        <div class="text-center">
          <h1 class="lead font-weight-bold text-uppercase">Click on the segment to see more information!</h1><br>
            <p class="lead"><span class="font-weight-bold">Next Week: </span><a class=" day-one text-white"href=<%-dayOne[1]%>> <%-dayOne[0]%></a></p>
            <p class="lead"><span class="font-weight-bold">Following Week: </span><a class="day-two text-white"href=<%-dayTwo[1]%>> <%-dayTwo[0]%></a></p>
            <p class="lead"><span class="font-weight-bold">Following Week: </span><a class="day-three text-white"href=<%-dayThree[1]%>> <%-dayThree[0]%></a></p>
            <p class="lead"><span class="font-weight-bold">Following Week: </span><a class="day-four text-white"href=<%-dayFour[1]%>> <%-dayFour[0]%></a></p>
        </div>
      </div>
    </div>
  </section>

  <!--Help Section -->
  <section class="page-section portfolio" id="help-section">
    <div class="container">

      <!-- Todays Segement Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Help Section</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <p class="lead text-center">Strava Segment Hunter is a tool built to provide a platform for some competition surrounding Strava segments. Check in weekly to see the segment we
      have selected for the week. For more information check out the guides below.</p>

      <!-- Todays Segment Section Content -->
      <div class="divider-custom">
        <div class="text-center">
          <h1 class="text-secondary">POINTS</h1>
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
          </div>
          <p class="lead">Complete the weekly segment shown on the site to appear on the weekly leaderboards. These leaderboards are broken down into different
          clubs (to appear in your club you should join the club on Strava). Points will be assigned based
          on these weekly leaderboard placings at 11.30pm on Sunday evening.</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Weekly Placing</th>
                <th scope="col">Points Assigned</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>10th and below</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
            <h1 class="text-secondary">CLUBS</h1>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
            </div>
            <p class="lead">To appear in one of our club leaderboards join the club on Strava. If your club does not have one now is the time to do it.
            <a href="https://www.strava.com/clubs/search">Click here to access the clubs section of Strava.</a> Upon
            joining <a href="signup">sign-up your club to Strava Segment Hunter here!</a></p>


            <h1 id="privacy"class="text-secondary">PRIVACY CONTROLS</h1>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
            </div>
            <p class="lead">If you are not appearing on your club leaderboard even after joining the club it will be down to a privacy setting. To update this go
            to:
            <br>
            Settings in Strava > Privacy Controls > Activities > Select Everyone
            <br>
            This means you will appear on a public Strava leaderboard which we can read, otherwise your PBs won't even update!
            </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact Me</h4>
          <p class="lead mb-0 text-justify">To get your club added onto the leaderboard <a href="/signUp"><u>sign-up
                here.</u> </a>To report
            any bugs or to suggest new features contact us at: <p class="text-uppercase font-weight-bold">
              contact@stravasegmenthunter.com </p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Developer Links</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.strava.com/athletes/8460844">
            <i class="fab fa-fw fa-strava"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/JamieGregg">
            <i class="fab fa-fw fa-github"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Segment Hunter</h4>
          <p class="lead mb-0 text-justify">Complete Weekly segments to top the leaderboards in your club! Check in every week for that weeks segment.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Strava Segment Hunter 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="js/ajax.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
