<!DOCTYPE html>
<html>
<head>
  <title>Strava Segment Hunter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link href="css/freelancer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/payment.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165412592-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-165412592-1');
  </script>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Segment Hunter</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#today-segment">Segment</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#point-leaderboard">Leaderboards</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#help-section">Help</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="FAQ">FAQs</a>
          </li>
           <li class="nav-item mx-0 mx-lg-1">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="admin-dashboard">Sign In /
               Register</a>
           </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <br><br><br>    
        </div>
        <form action="/check-card" method="POST">
          <div class="products">
            <h3 class="title">Checkout using Stripe</h3>
            <div class="item">
              <span class="price">£9.99</span>
              <p class="item-name">Annual Subscription</p>
              <p class="item-description">Annual Strava Segment Hunter subscription</p>
            </div>
            <div class="total">Total<span class="price">£9.99</span></div>
          </div>
          <div class="card-details">
            <h3 class="title">Debit/Credit Card Details</h3>
            <div class="row">
              <div class="form-group col-sm-7">
                <label for="card-holder">Card Holder</label>
                <input id="card-holder" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
              </div>
              <div class="form-group col-sm-5">
                <label for="">Expiration Date</label>
                <div class="input-group expiration-date">
                  <input type="text" class="form-control" name="exp_month" placeholder="MM" aria-label="MM"
                    aria-describedby="basic-addon1">
                  <span class="date-separator">/</span>
                  <input type="text" class="form-control" name="exp_year" placeholder="YY" aria-label="YY"
                    aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label for="card-number">Card Number</label>
                <input id="card-number" type="text" name="number" class="form-control" placeholder="Card Number"
                  aria-label="Card Holder" aria-describedby="basic-addon1">
                  <small name="paymentError" class="form-text text-muted text-danger"><%= paymentError %></small>
              </div>
              <div class="form-group col-sm-4">
                <label for="cvc">CVC</label>
                <input id="cvc" type="text" class="form-control" name="cvc" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
              </div>
              <div class="form-group col-sm-12">
                <button type="submit" class="checkout-btn btn text-white btn-block">Subscribe £9.99</button><br>
                <img src="img/powered_by_stripe.png" alt="">
              </div>
              <div> 
                <div>
                  <input hidden type="text" name="timezone" value="<%= time %>">
                  <input hidden type="password" name="username" value="<%= username %>">
                  <input hidden type="password" name="password" value="<%= password %>">
                  <input hidden type="password" name="clubName" value="<%= clubName %>">
                  <input hidden type="password" name="clubId" value="<%= clubId %>">
                </div>
              </div> 
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contact Me</h4>
          <p class="lead mb-0 text-justify">To get your club added onto the leaderboard <a href="/signUp"> sign-up here.
            </a>To report
            any bugs or to suggest new features contact us at: <p class="text-uppercase font-weight-bold">
              contact@stravasegmenthunter.com </p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Developer Links</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.strava.com/athletes/8460844">
            <i class="fab fa-fw fa-strava"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/JamieGregg">
            <i class="fab fa-fw fa-github"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Segment Hunter</h4>
          <p class="lead mb-0 text-justify">Complete weekly segments to top the leaderboards in your club! Check back in
            every week for that weeks segment.</p>
        </div>

      </div>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/protect.js"></script>
</body>
</html>